<launch>

<node pkg='quad_control' name='coverage_planner' type='coverage_planner.py'/>
<node pkg='quad_control' name='planar_integrator' type='planar_integrator.py'/>
<node pkg='tf' name='static_transform_publisher' type='static_transform_publisher' args='0 0 0 0 0 0 1 map my_frame 10'/>
<!--<node pkg='rviz' name='rviz' type='rviz'/>-->
<node pkg='rqt_plot' name='rqt_plot' type='rqt_plot'/>
<param name='others_names' type='str' value='Bo Calle David'/>

</launch>
