<launch>

    <!-- mission_type: may be specified by used when launching; or when this file is included elsewhere -->
    
    <arg name="gazebo" default="False"/>
    <arg name="mocap" default="False"/>
    <arg name="rviz" default="False"/>

    <node pkg="quad_control" name="service_time_sequencer" type="service_time_sequencer.py"  output="screen"/>

    <group if="$(arg gazebo)">
        <!-- define mission_type parameter: used to define mission database -->
        <param name="mission_type" type="str" value="gazebo"/>

        <include file="$(find quad_control)/launch/missions_gazebo.launch">
          <!-- all vars that included.launch requires must be set -->
          <!-- <arg name="hoge" value="fuga" /> -->
        </include>

    </group>

    <group if="$(arg mocap)">
        <!-- define mission_type parameter: used to define mission database -->
        <param name="mission_type" type="str" value="mocap"/>

        <include file="$(find quad_control)/launch/missions_mocap.launch">
          <!-- all vars that included.launch requires must be set -->
          <!-- <arg name="hoge" value="fuga" /> -->
        </include>

    </group>

    <group if="$(arg rviz)">
        <!-- define mission_type parameter: used to define mission database -->
        <param name="mission_type" type="str" value="rviz"/>

        <include file="$(find quad_control)/launch/missions_rviz.launch">
          <!-- all vars that included.launch requires must be set -->
          <!-- <arg name="hoge" value="fuga" /> -->
        </include>

    </group>        

</launch>