<launch>
    
    <include file="$(find quad_control)/launch/mocap_publisher.launch">
      <!-- all vars that included.launch requires must be set -->
      <!-- <arg name="hoge" value="fuga" /> -->
    </include>

    <group ns="Iris2">
      <include file="$(find quad_control)/launch/Iris2.launch">
      </include>
    </group>

    <group ns="Iris5">
      <include file="$(find quad_control)/launch/Iris5.launch">
      </include>
    </group>

    <param name="rc_serial_port" value="/dev/ttyACM0"/> 
    <node name="rc_link" pkg="quad_control" type="rc_control.py" output="screen"/>

</launch>